.cardDimensions{
    width: 75px; 
    height: 50px;
    border: 1px solid black;
    font-size: 20px;
}

.color1{
    background-color: aqua;
}
.color2{
    background-color: aqua;
}
.color3{
    background-color: aqua;
}
.color4{
    background-color: aqua;
}
.color5{
    background-color: aqua;
}
.color6{
    background-color: aqua;
}
.color7{
    background-color: aqua;
}
.color8{
    background-color: aqua;
}
.color9{
    background-color: aqua;
}
.color10{
    background-color: aqua;
}
.color11{
    background-color: aqua;
}
.color12{
    background-color: aqua;
}
.color13{
    background-color: aqua;
}
.color14{
    background-color: aqua;
}
.color15{
    background-color: aqua;
}
.color16{
    background-color: aqua;
}
.color17{
    background-color: aqua;
}
.color18{
    background-color: aqua;
}
.color19{
    background-color: aqua;
}
.color20{
    background-color: antiquewhite;
}