.profile {
    text-align: center;
}

.created-games {
    border: 2px solid black;
    min-height: 50px;
    width: 430px;
    margin: 0 auto;
    border-left: 0px solid;
    border-right: 0px solid;
}

.createbtn {
    font-family: 'Nova Square', cursive;
    margin-top: 15px;
}

#created-games-title {
    margin-top: 50px;
}

ul {
    list-style-type: none;
    margin-left: 5px;
}

.game-title-div {
    margin-top: 10px;
}

.game-title-input {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.877);
}

.input:focus {
    outline: 2px solid #0a58ca;
    border: none;
}

.payout-info-div {
    margin-top: 10px;
}

.payout-qtr-input {
    width: 40px;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.877);
    color: rgba(255, 255, 255, 0.877);
}

.payout-qtr-input:focus {
    outline: 2px solid #0a58ca;
    border: none;
}

@media (max-width : 786px) {

}    
    

@media (max-width : 414px) {
    .profile {
        padding: 0;
    }

    ul {
        padding: 0;
        margin: 0 0 20px 0;
    }

    .created-games {
        width: 400px;
    }
}

@media (max-width : 375px) {
    .created-games {
        width: 360px;
    }
}