.game-square{
    margin-right: 150px;
}

.y-row{
    margin-top: 12px;
    color: white;
}

.normal{
    display: block
}

.none{
    display: none
}

.input-name{
    background-color: aliceblue;
    width: 150px;
}


.h-numbers{
    float: left;
}

#h0{
    display: inline-block;
    margin-left: 220px;
    
}
#h1{
    display: inline-block;
    margin-left: 30px;
    
}
#h2{
    display: inline-block;
    margin-left: 35px;
}
#h3{
    display: inline-block;
    margin-left: 35px;
   
}
#h4{
    display: inline-block;
    margin-left: 35px;
  
}
#h5{
    display: inline-block;
    margin-left: 35px;
}
#h6{
    display: inline-block;
    margin-left: 35px;
}
#h7{
    display: inline-block;
    margin-left: 35px;
}
#h8{
 display: inline-block;
 margin-left: 35px;
}
#h9{
    display: inline-block;
    margin-left: 35px; 
}  

.game-direction-title {
    font-family: 'Nova Square', cursive;
}

@media only screen and (max-width: 600px) {

    .game-square{
        margin-right: 20px;
        padding-bottom: 200px;
    }
    .y-row{
        margin-bottom: 15px;
        padding-left: 30px;
        color: white;
    }
    .input-name{
        width: 88px;
        padding: 0px;
    }
    .input-button{
        margin-top: 10px;
        padding:0px
    }
    .btn-submit{
        padding-top:2px;
        padding-bottom:2px;
        padding-left: 14px;
        padding-right: 14px;
    }
    #h0{
        display: inline-block;
        margin-left: 6px;
    }
    #h1{
        display: inline-block;
     
        margin-left: 15px;
    }
    #h2{
        display: inline-block;
      
        margin-left: 18px;
    }
    #h3{
        display: inline-block;
      
        margin-left: 12px;
    }
    #h4{
        display: inline-block;
       
        margin-left: 14px;
    }
    #h5{
        display: inline-block;
        
        margin-left: 12px;
    }
    #h6{
        display: inline-block;
        
        margin-left: 12px;
    }
    #h7{
        display: inline-block;
       
        margin-left: 15px;
    }
    #h8{
        display: inline-block;
        
        margin-left: 13px;
    }
    #h9{
        display: inline-block;
       
        margin-left: 13px;
    }

  }

@media only screen and (max-width: 400px) {

    .game-square{
        margin-right: 20px;
    }
    .y-row{
        margin-bottom: 15px;
        padding-left: 30px;
        color: white;
    }
    .input-name{
        width: 88px;
        padding: 0px;
    }
    .input-button{
        margin-top: 10px;
        padding:0px
    }
    .btn-submit{
        padding-top:2px;
        padding-bottom:2px;
        padding-left: 14px;
        padding-right: 14px;
    }
    #h0{
        display: inline-block;
        margin-left: 6px;
    }
    #h1{
        display: inline-block;
     
        margin-left: 10px;
    }
    #h2{
        display: inline-block;
      
        margin-left: 12px;
    }
    #h3{
        display: inline-block;
      
        margin-left: 12px;
    }
    #h4{
        display: inline-block;
       
        margin-left: 11px;
    }
    #h5{
        display: inline-block;
        
        margin-left: 12px;
    }
    #h6{
        display: inline-block;
        
        margin-left: 12px;
    }
    #h7{
        display: inline-block;
       
        margin-left: 13px;
    }
    #h8{
        display: inline-block;
        
        margin-left: 9px;
    }
    #h9{
        display: inline-block;
       
        margin-left: 13px;
    }

  }

 


  