html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.home {
    position: relative;
    color: #73AD21;
    transform: rotateZ(90deg);
    font-size: 40px;
    left: 350px;
    bottom: 330px;
}

.away {
    position: relative;
    width: 300px;
    color: #73AD21;
    font-size: 40px;
    height: 50px;
    left: 570px;
    bottom: 70px;
}

.game-square{
    margin-left: 50px;
}

.game-box {
    max-width: 900px;
    margin: 0 auto;
}

.y-numbers {
    font-size: 30px;;
}

#last-name-input {
    margin-right: 80px;
}

#first-name-input {
    margin-left: 80px;
}

#game-title {
    font-size: 50px;
    margin-bottom: 40px;
    font-family: 'Nova Square', cursive;
}

.y-row {
    color: rgba(255, 255, 255, 0.877);
}

.normal {
    display: block
}

.none {
    display: none
}

.input-name {
    width: 150px;
    border: 1px solid rgba(255, 255, 255, 0.877);
    color: rgba(255, 255, 255, 0.877);
}

.input-name:focus {
    border: none;
    outline: 2px solid #0a58ca;
}

.name-inputs-div {
    margin-left: 100px;
}

.btn-submit {
    margin-top: 10px;
    margin-left: 200px;
}

.h-numbers {
    float: left;
}

#h0 {
    display: inline-block;
    margin-left: 220px;
}

#h1 {
    display: inline-block;
    margin-left: 30px;
}

#h2 {
    display: inline-block;
    margin-left: 35px;
}

#h3 {
    display: inline-block;
    margin-left: 35px;
}

#h4 {
    display: inline-block;
    margin-left: 35px;
}

#h5 {
    display: inline-block;
    margin-left: 35px;
}

#h6 {
    display: inline-block;
    margin-left: 35px;
}

#h7 {
    display: inline-block;
    margin-left: 35px;
}

#h8 {
    display: inline-block;
    margin-left: 35px;
}

#h9 {
    display: inline-block;
    margin-left: 35px;
}

.copybtn {
    margin-top: 10px;
}

.game-direction-title {
    font-family: 'Nova Square', cursive;
    color: green;
    margin-top: 20px;
}

h6 {
    font-size: 20px;
}

.payouts-per-qtr {
    margin-top: 10px;
}

.qtr-view-btns {
    margin-bottom: 10px;
    width: 80px;
}

@media (max-width: 1200px) {
    #last-name-input {
        margin-left: 0;
    }
    #first-name-input {
        margin-left: 0px;
    }
    .away {
        width: 90px;
        height: 40px;
        font-size: 30px;
        left: 460px;
        bottom: 50px;
    }
    .btn-submit {
        margin-top: 10px;
        margin-left: 110px;
    }
    .name-inputs-div {
        margin-left: 60px;
    }
}

@media only screen and (max-width: 600px) {
    .home {
        left: 285px;
        bottom: 230px;
        width: 80px;
        height: 40px;
        font-size: 30px;
    }
    .away {
        width: 90px;
        height: 40px;
        font-size: 30px;
        left: 140px;
        bottom: 50px;
    }
    #first-name-input {
        margin-right: 50px;
    }
    #last-name-input {
        margin-left: 0x;
    }
    .input-box{
        margin-left: 40px
    }
    .y-row {
        padding-right: 0px;
        padding-left: 15px;
        margin-left: 5px;
    }
    .y-numbers {
        padding-top: 6px;
        font-size: 16px;
    }
    .square-rows {
        margin: 0;
        max-height: 42px;
    }
    .input-name {
        width: 88px;
    }
    .input-button {
        margin-top: 10px;
        padding: 0px
    }
    .btn-submit {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 14px;
        padding-right: 14px;
        margin: 0;
    }
    #h0 {
        display: inline-block;
        margin-left: 6px;
    }
    #h1 {
        display: inline-block;
        margin-left: 10px;
    }
    #h2 {
        display: inline-block;
        margin-left: 12px;
    }
    #h3 {
        display: inline-block;
        margin-left: 12px;
    }
    #h4 {
        display: inline-block;
        margin-left: 11px;
    }
    #h5 {
        display: inline-block;
        margin-left: 12px;
    }
    #h6 {
        display: inline-block;
        margin-left: 12px;
    }
    #h7 {
        display: inline-block;
        margin-left: 13px;
    }
    #h8 {
        display: inline-block;
        margin-left: 9px;
    }
    #h9 {
        display: inline-block;
        margin-left: 13px;
    }
    #game-direction-title {
        margin-top: 30px;
    }
    .game-info {
        min-height: 80vh;
        margin-left: 30px;
    }
    #name-div{
        margin-left: 0px;
    }
    .game-box{
        padding-right: 30px;
    }
    
   
}

@media only screen and (max-width: 400px) {
    #please{
        padding: 0px;
    }

    .game-box{
        padding-right: 0px;
    }
    .name-input-div{
        margin-left: 0px;
    }
    .home {
        left: 285px;
        bottom: 225px;
        width: 80px;
        height: 30px;
        font-size: 28px;
        margin-bottom: 0px;
    }
    .away {
        width: 90px;
        height: 30px;
        font-size: 28px;
        left: 142px;
       
        bottom: 25px;
    }
    #last-name-input {
        margin-left: 10px;
    }
    .maybe{
        padding-top: 10px;
    }
    .y-row {
        max-width: 31px;
        padding-right: 0px;
        padding-left: 15px;
        margin-left: 5px;
    }
    .y-numbers {
        padding-top: 6px;
        font-size: 16px;
    }
    .square-rows {
        margin: 0;
        max-height: 42px;
    }
    .input-name {
        width: 88px;
        margin-left: -10px;
    }
    .input-button {
        margin-top: 5px;
        padding: 0px;
        padding-right: 10px;
    }
    .btn-submit {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 14px;
        padding-right: 14px;
        margin-top: 15px;
        margin-left: 17px;
    }
    #h0 {
        display: inline-block;
        margin-left: 6px;
    }
    #h1 {
        display: inline-block;
        margin-left: 10px;
    }
    #h2 {
        display: inline-block;
        margin-left: 12px;
    }
    #h3 {
        display: inline-block;
        margin-left: 12px;
    }
    #h4 {
        display: inline-block;
        margin-left: 11px;
    }
    #h5 {
        display: inline-block;
        margin-left: 12px;
    }
    #h6 {
        display: inline-block;
        margin-left: 12px;
    }
    #h7 {
        display: inline-block;
        margin-left: 13px;
    }
    #h8 {
        display: inline-block;
        margin-left: 9px;
    }
    #h9 {
        display: inline-block;
        margin-left: 13px;
    }
    #game-direction-title {
        margin-top: 30px;
    }
    .game-info {
        min-height: 80vh;
    }
    .game-square{
        margin-left: 25px;
    }
}