* {
    background-color: #1A1A1D;
    text-align: center;
}

.create-game {
    cursor: pointer;
}

.container {
    color: rgba(255, 255, 255, 0.877);
}

a {
    text-decoration: none;
    color: white;
}

#landing-title {
    font-family: 'Nova Square', cursive;
    font-size: 144px;
    z-index: 1;
    position: relative;
    margin-left: 350px;
    margin-right: 350px;
}

#title-box {
    border: 5px solid white;
    min-height: 500px;
    margin-top: -85px;
}

.search-game {
    margin-top: 100px;
}

.instructions {
    margin-top: 20px;
}

.create-game {
    font-family: 'Nova Square', cursive;
    font-size: 32px;
}

@media (max-width : 786px) {
    #title-box {
        width: 680px;
        margin-top: -70px;
    }

    #landing-title {
        position: relative;
        font-size: 112px;
        margin-left: 128px;
        margin-right: 128px;
    }
}

@media (max-width : 414px) {
    #title-box {
        width: 365px;
        margin-top: -55px;
    }

    #landing-title {
        position: relative;
        font-size: 88px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width : 375px) {
    #title-box {
        width: 340px;
        margin-top: -55px;
        border: 3.5px solid white;
    }

    #landing-title {
        position: relative;
        font-size: 80px;
        margin-left: 20px;
        margin-right: 10px;
    }
}

